.profile-container {
    flex-direction: column;
}

.profile__header {
    display: flex;
    /* height: 386px; */
    width: 100%;
    padding: 30px 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.profile__avatar {
    display: flex;
    justify-content: center;
    width: 280px;
}

.profile__avatar i {
    font-size: 150px;
}
.profile__bio {
    padding: 14px 30px;
    flex: 1;
}

.profile__username {
    font-size: 28px;
}

.edit-profile-btn {
    cursor: pointer;
    margin-left: 20px;
    padding: 5px 9px;
    border: 1px solid #dbdbdb;
    color: #262626;
    background-color: transparent;
    font-weight: 600;
    border-radius: 4px;
}

.profile__title,
.profile__statics {
    margin-bottom: 20px;
}

.profile__static span {
    font-weight: 600;
    margin-right: 4px;
}
.profile__static {
    font-size: 16px;
    margin-right: 40px;
}

.profile__gallery-items img {
    /* position: absolute; */
    /* flex-shrink: 0; */
    /* min-width: 100%;
    min-height: 100%; */
}
.profile__gallery-items {
    position: relative;
    /* overflow: hidden; */
    /* padding: 8px; */
    /* width: calc(975px / 3); */
    /* object-fit: cover; */
    /* max-height: 300px; */
}

.profile__gallery {
    display: grid;
    max-width: 975px;
    /* grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px; */
    margin-top: 36px;
}

.profile__gallery-items--overlay {
    display: none;
    position: absolute;
    background-color: rgba(51, 51, 51, 0.495);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* margin: 8px; */
    color: white !important;
    font-weight: 600;
}

.profile__gallery-items--overlay .spacer {
    width: 12px;
}
.profile__gallery-items--overlay i {
    color: white !important;
    padding-top: 2px;
    margin-right: 2px;
}

.profile__gallery-items:hover .profile__gallery-items--overlay {
    display: flex;
}
