* {
    /* font-size: 14px; */
}

.post__container {
    margin: auto;
    margin-top: 14px;
    width: 470px;
    border-radius: 12px;
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
}

.post__header {
    justify-content: space-between;
    height: 56px;
    padding: 0 12px;
    margin: 0;
}

.post__media {
    /* padding: 0; */
    min-height: 470px;
    max-height: 538px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-top: 0.5px solid rgb(200, 200, 200);
    border-bottom: 0.5px solid rgb(200, 200, 200);
}

.caption {
    margin: 1px;
}

.post__media .main-media {
    width: 470px;
    user-select: none;
}
.user .user__ava {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

@keyframes heartMain {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.post__media .main-heart {
    /* object-fit: contain; */
    z-index: 3;
    position: absolute;
    top: calc(50% - 60px) !important;
    left: calc(50% - 60px) !important;
    filter: drop-shadow(0px 0px 15px #444);
    -webkit-filter: drop-shadow(0px 0px 15px #444);
    animation-name: heartMain;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.post__media .main-heart img {
    width: 120px;
    height: 120px !important;
}

/* 
.user__name {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
} */

.action__icon {
    font-size: 28px;
    cursor: pointer;
}

.post__below-container {
    padding: 0px 12px;
}

.interaction-row {
    margin: 8px 0px 4px 0px;
    justify-content: space-between;
}

.interaction-group .action__icon {
    margin-right: 10px;
}

.row,
.content {
    font-size: 14px;
}

.row span {
    font-weight: 600;
    margin: 0 1px;
    cursor: pointer;
}
.post__user-caption {
    font-size: 14px;
    margin-bottom: 8px;
    /* max-height: 32px;
    overflow: hidden; */
}

.like-details {
    margin-bottom: 8px;
    /* margin-left: 4px; */
}
.post__comment {
    justify-content: space-between;
}

.post__comment .like-cmt {
    cursor: pointer;
    margin-top: 5px;
}

.btn-trans {
    background-color: transparent;
    color: #888;
    outline: none;
    border: none;
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
}

.time-tag {
    font-size: 12px;
    text-transform: uppercase;
    cursor: default;
}

.post__footer {
    border-top: 0.5px solid rgb(200, 200, 200);
    justify-content: space-between;
    height: 49px;
    padding: 0 12px;
    margin-top: 12px;
}

.post__footer input {
    padding: 4px 8px;
    flex: 1;
    margin: 0 8px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(54, 54, 54);
}

.post__footer button {
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: #0095f6;
    /* color: #0095f6; */
}

.like-cmt {
    padding-right: 4px;
}

.view-all-cmt {
    margin-top: 3px;
}

.post__comment-list {
    margin-top: 12px;
    /* max-height: 150px;
    overflow-y: scroll; */
}

@keyframes heartBtn {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    75% {
        transform: scale(1.5);
        opacity: 0.75;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.icon-animation {
    animation-name: heartBtn;
    animation-duration: 0.5s;
}

.bxs-heart {
    color: #ed4956;
}

.bxs-bookmark {
    color: #ff942a;
}

/* animate__pulse */

/* .slideImage img {
    width: 468px;
} */

.danger-option {
    color: red !important;
}
