* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        sans-serif;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

body {
    background-color: #fafafa;
}

.App {
    overflow-x: hidden;
}
.row {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 4px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 975px;
    /* background-color: #333; */
}

.btn {
    font-weight: 600;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-primary {
    background-color: #0095f6;
    color: #fff;
    transition: all 0.2s ease;
}
.btn:hover {
    opacity: 0.8;
}

.secondary-text {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #666;
}

.modal-text strong {
    cursor: pointer;
}
.modal-text {
    margin: 16px 24px 0px 24px;
    text-align: center;
    user-select: none;
}

.MuiModal-root input {
    /* outline: none;
    border: none; */
}

.post__list {
    margin-left: 14px;
}

.user__ava {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.user__name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
}

.upload-container {
    display: flex;
}

.upload__img img {
    max-width: 600px;
    max-height: 600px;
}
.upload__img {
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    /* height: 600px; */
    overflow: hidden;
    border-radius: 8px;
    margin-right: 48px;
    object-fit: cover;
}

.upload__progress-bar {
    height: 8px !important;
    margin-bottom: 16px;
    border-radius: 50px;
}
button:disabled {
    opacity: 40%;
    cursor: default;
}

.post__list {
    height: calc(100vh - 64px);
    overflow-y: scroll;
    padding-bottom: 16px;
}
.dropzone {
    border: 3px dashed #999;
    height: 300px;
    width: 500px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 0 128px;
    padding-top: 190px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    color: #999;
    user-select: none;
}

.dropzone.optional {
    flex: 1;
    width: 352px;
    height: 308px;
    margin-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
}

.dropzone .bxs-cloud-upload {
    position: absolute;
    font-size: 120px;
    color: #999;
    top: 50px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 12px !important;
}
.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 50%;
    padding: 0px 8px;
    width: 24px !important;
    height: 24px !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    box-shadow: #222 0px 0px 10px;
}
.slideImage img {
    max-width: 100%;
}

.swiper-wrapper {
    align-items: center;
}
.slideImage {
    align-items: center;
    justify-content: center;
    display: flex;
}
